.listBeckground-1 {
  background-color: #3c64a2;
  font-weight: bold;
}

.listBeckground-2 {
  background-color: #5c6f98;
  font-weight: bold;
}

.listTitle {
  margin: 30px 0 0 0;
  padding: 20px;
  color: #fff;
  background-color: #101424;
  opacity: 0.95;
}


